@font-face{
    font-family: timerFont;
    src: url("CursedTimerUlil-Aznm.ttf");
}

body{
    margin: 0;
    text-align: center;
    font-family: "timerFont", serif;
    background-color: #424874;
}

#score-board{
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 1000px;
    border: 2px solid #dcd6f7;
    border-radius: 20px;
    margin: 20px auto;
}

#home-score,#guest-score{
    border: 2px solid #424874;
    height: 250px;
    width: 400px;
    color: rgb(167, 67, 67);
    border: 1px solid #dcd6f7;
    background-color: black;
    border-radius: 20px;
}


.score-display{
    font-size: 200px;
    padding-top: 25px;
}

button{
    font-family: inherit;
    height: 40px;
    width: 80px;
    margin-top: 25px;
}